[package]
name = "rsalloc"
version = "0.1.0"
edition = "2024"

[lib]
name = "rsalloc"
path = "src/allocator.rs"
crate-type = ["rlib"]

[dependencies]

[features]
default = ["tinyslab", "bytebuffer"]
tinyslab = []
bytebuffer = []
